html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

h1 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


hr {
  margin: 0;
  border: none;
  height: 2px;
  background-color: $mainBlue;

  @mixin atSmall {
    height: 4px;
  }

  @mixin atMedium {
    height: 6px;
  }

  @mixin atLarge {
    height: 8px;
  }
}