* {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

h1 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


hr {
  margin: 0;
  border: none;
  height: 2px;
  background-color: $mainBlueLight;

  @mixin atMedium {
    height: 3px;
  }

  @mixin atLarge {
    height: 4px;
  }
}

@mixin atMedium {
  .hr--thin {
    height: 1px;
    background-color: $mainBlueLight;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $mainBlue;
}
