.general-presentation {
  position: relative;
  z-index: 1;
  
  & img {
    width: 100%;
    opacity: .15;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%) 
  }
}
