.general-presentation {
  position: relative;
  
  & img {
    width: 100%;
    opacity: .15;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%) 
  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.8rem;
    margin-bottom: .6rem;

    @mixin atSmall {
      font-size: 2.4rem;
      margin-bottom: 1.2rem;
    }

    @mixin atMedium {
      font-size: 3.2rem;
      margin-bottom: 2.4rem;
    }

    @mixin atLarge {
      font-size: 4.8rem;
      margin-bottom: 2.8rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;

    @mixin atSmall {
      font-size: 1.6rem;
    }

    @mixin atMedium {
      font-size: 2.1rem;
    }

    @mixin atLarge {
      font-size: 2.4rem;
    }
  }
}
