.general-presentation {
  position: relative;

  & img {
    width: 100%;
    opacity: .15;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%) 
  }

  &__title {
    font-weight: 300;
    color: rgb(5, 49, 16);
    font-size: 4.8rem;
  }

  &__subtitle {
    font-weight: 300;
    color: rgb(5, 49, 16);
    font-size: 2.4rem;
    max-width: 800px;
    margin: 0 auto;

  }
}
