.introduction {
  background-color: rgb(244, 248, 255);
  padding-bottom: 2em;

  &__my-photo {
    width: 100px;
    overflow: hidden;
    margin: 0 auto -40px auto;
    border-radius: 50%;
    position: relative;
    transform: translateY(-50%);
    border: 2px solid $mainBlue;

    @mixin atSmall {
      width: 130px;
      margin: 0 auto -50px auto;
      border: 4px solid $mainBlue;
    }    

    @mixin atMedium {
      width: 210px;
      margin: 0 auto -105px auto;
      border: 6px solid $mainBlue;
    }    

    @mixin atLarge {
      width: 300px;
      margin: 0 auto -150px auto;
      border: 8px solid $mainBlue;
    }    
  }

  @mixin atMedium {
    height: 600px;
    position: relative;
  }

  &__text-content {
    text-align: center;
    font-weight: 200;

    @mixin atSmall {
      font-size: 1.2rem;
    }

    @mixin atMedium {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.5rem;
    }

    @mixin atLarge {
      font-size: 1.8rem;
    }
  }
}