.introduction {
  background-color: rgb(244, 248, 255);
  padding-bottom: 2em;

  &__my-photo {
    width: 100px;
    overflow: hidden;
    margin: 0 auto -40px auto;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    transform: translateY(-50%);
    border: 2px solid $mainBlueLight;

    @mixin atSmall {
      width: 120px;
      margin: 0 auto -50px auto;
      border: 2px solid $mainBlueLight;
    }    

    @mixin atMedium {
      width: 180px;
      margin: 0 auto;
      border: 3px solid $mainBlueLight;
    }    

    @mixin atLarge {
      width: 260px;
      margin: 0 auto;
      border: 4px solid $mainBlueLight;
    }    
  }

  @mixin atMedium {
    height: 400px;
    position: relative;
  }

  @mixin atLarge {
    height: 600px;
  }

  &__text-content {
    text-align: center;
    font-weight: 200;

    @mixin atSmall {
      font-size: 1.2rem;
    }

    @mixin atMedium {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.5rem;
    }

    @mixin atLarge {
      font-size: 1.8rem;
    }
  }
}