.my-work {
  position: relative;

  &__title {
    position: absolute;
    padding: .5em 1em;
    font-size: 1.2rem;
    color: $mainBlue;
    text-shadow: 2px 2px 3px grey;
    border: 2px solid $mainBlueLight;
    border-radius: 26px;
    background-color: white;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    @mixin atMedium {
      font-size: 1.8rem;
      font-weight: 300;
    }
  }


  &__background-image {
    display:  none;
  }

  @mixin atMedium {
    &__background-image {
      display:  block;
      width: 100%;
      opacity: 0.1;
    }


    &__content {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); 
      width: 100%;
      text-align: center;
    }
  }

  @mixin atLarge {

    &__title {
      font-size: 2.2rem;
      letter-spacing: 2px;
    }

  }
}