.primary-nav {
  font-size: 1.2rem;
  font-weight: 300;

  &--pull-right {

    @mixin atMedium {
      float: right;
    }
  }

  @mixin atSmall {
    font-size: 1.5rem
  }

  @mixin atMedium {
    padding-right: 18px;
  }

  @mixin atLarge {
    font-size: 1.5rem
  }

  ul {
    margin: 0.6em 0;
  }

  li {
    display: block;
    margin-bottom: 1rem;

    @mixin atMedium {
      display: inline-block;
      padding-left: 1rem;
      margin-bottom: 0;
    }
  }

  a {
    color: #FFF;
  }
}