.reveal-item {
  opacity: 0;
  transition: all 1.5s ease-out;

  &.card--flex {
    transform: scale(.8);
  }

  &--is-visible {
    opacity: 1;
  }

  &--is-visible.card--flex {
    transform: scale(1)
  }

}
